<launch>
    <!-- tracker_SN_A = "LHR-94135635";
    tracker_SN_B = "LHR-15565625";
    tracker_SN_C = "LHR-662B1E75";
    tracker_SN_D = "LHR-38203A4C";
    tracker_SN_E = "LHR-E833C29B"; -->
    <!-- <node name="vive_localization_rival_single" pkg="vive" type="vive_localization_rival_single" output="screen" args="tracker_A LHR-94135635"> -->
    <node name="vive_localization_rival_single" pkg="vive" type="vive_localization_rival_single" output="screen" args="tracker_B LHR-15565625">
        <rosparam file="$(find vive)/param/vive_localization.yaml" command="load" />
    </node>
    <node type="vive_NavToGeo" name="vive_NavToGeo" pkg="vive" args="robot1/vive_bonbonbon" >
        <param name="covariance_0" type="double" value="0.001"/>
        <param name="covariance_7" type="double" value="0.001"/>
        <param name="covariance_35" type="double" value="0.001"/>
    </node>

</launch>