<launch>
    <group ns="survive1">
        <node name="vive_world" pkg="vive" type="vive_world" output="screen">
            <rosparam file="$(find vive)/param/vive_localization.yaml" command="load" />
            <param name ="survive_prefix" type="string" value="survive3_"/>
            <param name ="topic_name" type="string" value="/robot1/tracker_vel"/>
            <param name ="max_distance_bt_maps" type="double" value="0.1"/>
        </node>
    </group>

    <!-- <node name="vive_trackerpose" pkg="vive" type="vive_trackerpose" output="screen">
        <param name ="freq" type="int" value="21"/>
        <param name ="unit" type="int" value="1"/>
    </node> -->

</launch>